
:root {
    --fondo: #ffffff;
    --container: #ffffff;
    --menu: #3754b3;
    --azul_claro: #5673cf;
  }
  
*{
    font-family: 'Montserrat ';
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.main_container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_item{
    width: 100%;
    height: 110.8px;
    background-color: var(--menu);
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    z-index: 100;

}



.menu_icono{
    height: 150px;
    width: 150px;
    text-align: center;
}




.icono{
    font-size: 40px;
    margin-top: 50px;
    margin-right: 40px;
}

.icono:hover{
    cursor: pointer;
}

.menu_saldo{
    width: 300px;
    height: 40px;
    margin-right: 70px;
    background-color: rgb(255, 255, 255);
    border: solid 3px black;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.saldo_texto{
    font-size: 20px;
    margin-left: 30px;
    width: 20%;
}

.saldo_cantidad{
    font-size: 20px;
    color: var(--menu);
}

.saldo_logo{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background-image: url('../pictures/logoT.png');
    background-size: contain;
    background-repeat: no-repeat ;
}

.menu_desplegable{
    position: fixed;
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 400px;
    width: 100%;
    background-color: var(--menu);
    top: -600px; 
    z-index: 70;
    text-align: center;
    transition: all 0.5s;
    
}

.menu_desplegable_abajo{
    top: 108px;
}

.menu_desplegable_item{
    color: black;
    font-size: 15px;
    height: 80px;
    width: 100%;
    border-bottom: solid 4px black;
    background-color: #5673cf;
}

.menu_desplegable_item:hover{
    background-color: var(--menu);
    cursor: pointer;

}

.tipo2{

    border-top: solid 4px black;
    
}


.page_item{
    position: absolute;
    top: 108px;
    width: 100%;
    height: 100%;
    z-index: 50;
    display: flex;
    flex-direction: column;
    
}

.evento{
    width: 100%;
    height: 300px;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 251, 251);

}

.foto{
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Duki{
    background-size: contain;
    background-repeat: no-repeat ;
    background-image: url(../pictures/concierto1.png);
    height: 80%;
    width: 80%;
}

.Melendi{
    background-size: contain;
    background-repeat: no-repeat ;
    background-image: url(../pictures/concierto2.png);
    height: 80%;
    width: 80%;
}

.Tini{
    background-size: contain;
    background-repeat: no-repeat ;
    background-image: url(../pictures/concierto3.png);
    height: 80%;
    width: 80%;
}

.Pikeras{
    background-size: contain;
    background-repeat: no-repeat ;
    background-image: url(../pictures/concierto4.png);
    height: 80%;
    width: 80%;
}



.info{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    align-items: center;
    gap: 5px;
}

/* .titulo{

}

.precio{

}

.entradasRestantes{

}

.fecha{

}
 */
 
.comprar{
    width: 60%;
    height: 40px;
    font-size: 20px;
    background-color: var(--menu);
    color: white;

}

.comprar:hover{
    background-color: var(--azul_claro);
    cursor: pointer;

}