
html,body{
    height: 100%;
    width: 100%;
}

*{
    padding: 0;
    margin: 0;
}

:root {
    --fondo: #ffffff;
    --container: #ffffff;
    --menu: #3754b3;
  }

.container{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
}

.left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;

}

.tittle{
    text-align: center;
    color: rgb(255, 255, 255) !important;
    font-size: 30px !important;
}

.newEvent_item{
    font-size: 20px;
    width: 400px;
    height: 30px;
    text-align: center;
    color: gray;

}


.newEvent{
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;
    border: 2px solid white;
    border-radius: 20px;

    
}

.atributos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.button_create_event, .init_proxy{
    margin-top: 20px;
    font-size: 20px;
    width: 300px;
    height: 35px;
    text-align: center;
    background-color: rgb(43, 107, 35);
    color: black;
}

.modifyEvent{
    height: 36%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 40px;
    border: 2px solid white;
    border-radius: 20px;
}

.modoMofificarEvento{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.button_modo_evento{
    margin-top: 20px;
    font-size: 20px;
    width: 300px;
    height: 35px;
    text-align: center;
    background-color: white;
    color: black;
}

.elegido{
    background-color: rgb(167, 160, 160);
}

.subirEventos{
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border: 2px solid white;
    border-radius: 20px;

}

.eventosAutomatico{
    margin-top: 20px;
    font-size: 20px;
    width: 300px;
    height: 35px;
    text-align: center;
    background-color: rgb(43, 107, 35);
    color: black;
}

.eventosAutomaticoTitulo{
    color: white;
}

.right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.direccionERC20, .direccionERC721, .direccionPorDefecto{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 40px;
    border: 2px solid white;
    border-radius: 20px;

}



.botonContratoERC20, .botonContratoERC721, .boton_direcciones_porDefecto{
    font-size: 20px;
    width: 300px;
    height: 35px;
    text-align: center;
    background-color: rgb(43, 107, 35);
    color: black;
}

